################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Website/copilot-chat/681f5aae/sessions
/.vs/Website/FileContentIndex
/.vs/Website/v17
/.vs
