<!DOCTYPE html>
<html>
<head>
    <title>New Party</title>
    <script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/static/images/SmallLogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keywords" content="Ben Mercer, Full Stack Web Developer, Web Developer, Web Design, Web, Design, Developer, Full Stack, Full, Stack, Ben, Mercer, Ben Mercer Designs, Ben Mercer Web Design, Ben Mercer Web Developer, Ben Mercer Full Stack Web Developer, Ben Mercer Full Stack Web Design, Ben Mercer Full Stack Developer, Ben Mercer Web, Ben Mercer Web Dev, Ben Mercer Web Development, Ben Mercer Web Design, Ben Mercer Web Designer, Ben Mercer Web Developer, Ben Mercer Web Development, Free, Free Web Design, Free Web Development">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<style>
</style>
<body>
    <div class="topbar">
        <ul>
            <a href="https://benmercer.pythonanywhere.com/partyhome"><li>Home</li></a>
            <a href="https://benmercer.pythonanywhere.com/newdate"><li>Add new Party</li></a>
            <a href="https://benmercer.pythonanywhere.com/modify"><li>Modify a party</li></a>
            <a href="https://benmercer.pythonanywhere.com/room1"><li>ROOM TVs</li></a>
            <a href="https://benmercer.pythonanywhere.com/logout"><li>Logout</li></a> 
        </ul>
    </div>
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/FullLogo.png') }}" alt="My Logo - A BM with a small 'Designs' text">
        </div>
        <ul>
            <a href="https://benmercer.pythonanywhere.com/partyhome"><li>Home</li></a>
            <a href="https://benmercer.pythonanywhere.com/new"><li>Add new Party</li></a>
            <a href="https://benmercer.pythonanywhere.com/modify"><li>Modify a party</li></a>
            <a href="https://benmercer.pythonanywhere.com/room1"><li>ROOM TVs</li></a>
            <a href="https://benmercer.pythonanywhere.com/logout"><li>Logout</li></a>
        </ul>
    </div>
    <div class="content">
        <div style="display:flex; justify-content:center;">
            <div class="login">
                <h1>New Party</h1>
                <script>
                    console.log(isopen);
                </script>
                <form action="/new" method="post">
                    <select id="PartyType" name="PartyType" required>
                        <option selected disabled>* Party Type</option>
                        <option value="1">Adventure Play</option>
                        <option value="2">Adventure Play + Laser</option>
                        <option value="3">Pizza Party</option>
                        <option value="4">Pizza Party + Laser</option>
                        <option value="5">Tiny Tots</option>
                        <option value="6">Nerf</option>
                        <h1>{{isopen}}</h1>
                        <h1>{{isopen[1, "10:30"]}}</h1>
                    </select>
                    {% if PartyType == "AdPlayLaser" or PartyType == "PizzaLaser" %}
                    <select id="PartyTime" name="PartyTime" required>
                        <option selected disabled>* Party Time</option>
                        {% for key, value in isopen.items() %}
                            {% for time, availability in value.items() %}
                                {% set end_time = (datetime.datetime.strptime(time, '%H:%M') + datetime.timedelta(hours=2)).strftime('%H:%M') %}
                                {% if availability %}
                                    <option value="{{ key }}:{{ time }}">{{ time }} - {{ end_time }}</option>
                                {% else %}
                                    <option value="{{ key }}:{{ time }}" disabled>{{ time }} - {{ end_time }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                    {% else %}
                        <select id="PartyTime" name="PartyTime" required>
                            <option selected disabled>* Party Time</option>
                            {% if party10booked == False %}
                            <option value="10:30" disabled>10:30 - 13:00</option>
                            {% else %}
                            <option value="10:30">10:30 - 12:30</option>
                            {% endif %}
                            {% if party11booked == False %}
                            <option value="11:30" disabled>11:30 - 13:30</option>
                            {% else %}
                            <option value="11:30">11:30 - 13:30</option>
                            {% endif %}
                            {% if party15booked == False %}
                            <option value="15:00" disabled>15:00 - 17:00</option>
                            {% else %}
                            <option value="15:00">15:00 - 17:00</option>
                            {% endif %}
                            {% if party13booked == False %}
                            <option value="16:00" disabled>16:00 - 18:00</option>
                            {% else %}
                            <option value="16:00">16:00 - 18:00</option>
                            {% endif %}
                        </select>
                    {% endif %}
                    <input type="text" name="FirstChildName" placeholder="* First Child First Name" required>
                    <input type="text" name="SecondChildName" placeholder="Second Child First Name">
                    <input type="number" name="NumChildren" placeholder="* Number of Children" required>
                    <input type="number" name="Age" placeholder="* Child's Age" required>
                    <input type="submit" value="Create">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="popup">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
    
</body>
    
</html>
