<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="top-bar">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#skills">Skills</a>
    <!-- <a href="#portfolio">Portfolio</a> -->
    <a href="#contact">Contact</a>
</div>
<body>

    <div class="content">
        <div class="text">
            <section id="home">
            <div class="container">
                <h1>Benjamin Mercer</h1>
                <h3>Full Stack Web Developer</h3>
            </div>
            </section>

            <section id="about">
                <h2>About</h2>
                <h3>My name's Ben, and I'm really passionate in full stack web design, ever since I designed my first website for my Computer Science NEA, a passion has developed to develop the aestetic and logical aspects of a sight. I dream to make it a full time job in the future.</h3>
                <h3>I really enjoy designing, developing and implementing different full-stack websites. I enjoy designing my own sites and following a constant theme and design.</h3>

                <h3>I've always been passionate about computers and software development from a very young age, mainly encouraged by my dad who, I remember, introduced me to a "Lego Mindstorms" set, which allowed an external computer to program a little robot to do tasts, such as lift his hat as a greeting</h3>

                <!-- TODO ADD ROBOT PHOTO-->

                <h3>I've always been interested in design generally, mainly beggining from my A-Level ICT coursework, where I was tasked to create posts for social media, at the time, I worked at Play2Day, A local child's play centre, who had social media accounts, I was given access to these accounts for my coursework to create and post content, I really enjoyed designing and actually creating these posts which gave me a real sense of achievement as I saw the engagement go up as I replaced the old posts with the new.</h3>
                <h3>What I'm trying to say here is - I really enjoy designing content, I'm also really good at commiting myself to the cause, as long after my coursework finished (I got a distinction) I was still actively posting and designing new content for their social media pages, as I genuinly enjoyed it.</h3>

                <div class="image-box">
                    <img style = "object-fit: cover; max-height:400px; max-width: 500px; border-radius: 50%;"src="{{ url_for('static',filename='/images/me.jpg') }}" alt="A photo of me, Ben looking fancy at prom!">
                    <h3>Heres a photo of me looking fancy at Prom!</h3>
                </div>

            </section>

            <section id="services">
                <h2>Services</h2>
                <h3>At the moment, I'm offering FREE website updates to enhance my portfolio, and to increase my skill-set as I'm always actively looking for new libraries and front-end systems to play with and implement.</h3>
                <h3>If you have any specific requirements for a front or backend, I will be more than happy to adapt to these requirements and make sure your requirements are precisely followed.</h3>
                <ol>
                    <li>
                        <h3>I will first design a set of pages as per your suggestions, and make sure they are exactly how you envision it, and make adjustments accodingly.</h3>
                    </li>
                    <li>
                        <h3>Once the design is complete, I will then begin to implement the backend, and make sure it is fully functional and secure.</h3>
                    </li>
                    <li>
                        <h3>Once the backend is complete, I will then begin to implement the front-end, and make sure it is fully responsive and works on all devices as well as being visually appealing.</h3>
                    </li>
                    <li>
                        <h3>I will then also optimise it for social media, adding the correct keywords and descriptions to boost your pages up in searches</h3>
                    </li>
                    <li>
                        <h3>Finnaly we will go through a summary to make sure overall you're happy with the project and know how to correctly deploy it.</h3>
                    </li>
                </ol>
                <h3>Then you're done and dusted! Easy Peasy, Lemon Squeezy! </h3>
            </section>

            <section id="skills">
                <h2>Skills</h2>
                <h3>My skills are constantly evolving, and I'm always looking to learn new skills and libraries to implement into my websites.</h3>
                <h3>My current skills are:</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>Flask</li>
                    <li>SQLite 3</li>
                    <li>Git / GitHub</li>
                    <li>React.js</li>
                    <li>Kotlin</li>
                </ul>

            <!-- <section id="portfolio">
                <h2>Portfolio</h2>
                <!-- Your contact content goes here -->
            </section>

            <section id="contact">
                <h2>Contact</h2>
                <h3>Please, do not hesitate contact me by email for any questions @</h3>
                <h1><a href=mailto:"benmercer76@btinternet.com">benmercer76@btinternet.com</a><h1>
            </section>
        </div>
    </div>
</body>
</html>
