<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full Stack Web Dev</title>
    <meta property="og:image" content="{{ url_for('static', filename='images/WebPreview.png') }}"/>
    <meta property="og:title" content="Benjamin Mercer"/>
    <meta property="og:description" content="My Personal 'Portfolio' Website"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627"/>
    <script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" id="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/FullLogo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Ben Mercer, Full Stack Web Developer, Web Developer, Web Design, Web, Design, Developer, Full Stack, Full, Stack, Ben, Mercer, Ben Mercer Designs, Ben Mercer Web Design, Ben Mercer Web Developer, Ben Mercer Full Stack Web Developer, Ben Mercer Full Stack Web Design, Ben Mercer Full Stack Developer, Ben Mercer Web, Ben Mercer Web Dev, Ben Mercer Web Development, Ben Mercer Web Design, Ben Mercer Web Designer, Ben Mercer Web Developer, Ben Mercer Web Development, Free, Free Web Design, Free Web Development">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <h1>Benjamin Mercer</h1>
        <h3>Full Stack Web Developer</h3>
    </div>

    <div class="websitecontainer">

        <div class="website" href="/hotbeanshome" onclick="window.location.href='/hotbeanshome'">

            <img src="{{ url_for('static', filename='/images/hotbeanspreview.png') }}" alt="A preview for the Hot Beans page">

            <h2>Web Development Company Website</h2>

        </div>

        <div class="website" href="/p2dHome">

            <img src="{{ url_for('static', filename='/images/P2DBooking Preview.png') }}" alt="">

            <h2>Play Centre booking website</h2>

        </div>
        
    </div>

    <div class="lasertagpreview" onclick="window.location.href='/projects'"></div>

        <div class="textimageinfront" href="/projects" onclick="window.location.href='/projects'">

            <img src="{{ url_for('static', filename='/images/LaserTagPrev.png') }}" href="/projects" onclick="window.location.href='/projects'">

            <div class="text" href="/projects" onclick="window.location.href='/projects'">

                <h1 href="/projects" onclick="window.location.href='/projects'">Play2Day <br> Technical Work</h1>

            </div>

        </div>

    </div>

</body>

<footer class="footer" id="footer">
    <div class="content" style="z-index: 9999; margin-left:0;">
        <h1>Benjamin Mercer</h1>
        <h2>Email: <a style="overflow:hidden;" href="mailto:benmercer76@btinternet.com">benmercer76@btinternet.com</a></h2>
        <!-- <button id="fetchFaultButton" href="https://benmercer.pythonanywhere.com/getfaultdata">Refresh</button>
        <button id="fetchLctButton" href="https://benmercer.pythonanywhere.com/getlctdata">Refresh</button>
        <label for="styleSwitch">Switch Styles:</label>
        <label class="switch">
            <input type="checkbox" id="styleSwitch">
            <span class="slider round"></span>
        </label> -->
    </div>
    <canvas id="pongCanvas" style="z-index: 2"></canvas>  
</footer>

<script src="{{ url_for('static', filename='/Scripts/nostalgia.js') }}"></script>
<script src="{{ url_for('static', filename='/Scripts/pong.js') }}"></script>
<script src="{{ url_for('static', filename='/Scripts/ukpnfetch.js') }}"></script>
</html>
