<!DOCTYPE html>
<html lang="en">
<head>
  <title>Laser Tag Improvements</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="/static/images/SmallLogo.png">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <meta charset="UTF-8">
</head>
<style>
    .slider-before, .slider-after {
      user-select: none;
    }
    body {
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      overflow-y: scroll; 
    }
    
    body::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }

    iframe {
      flex: 1;
      max-width: 50%;
    }

  </style>
<div class="top-bar">
    <a href="https://benmercer.pythonanywhere.com/">Home</a>
    <a href="https://benmercer.pythonanywhere.com/">About</a>
    <a href="https://benmercer.pythonanywhere.com/">Services</a>
    <a href="https://benmercer.pythonanywhere.com/">Skills</a>
    <a href="https://benmercer.pythonanywhere.com/lasertag">Projects</a>
    <!-- <a href="#portfolio">Portfolio</a> -->
    <a href="https://benmercer.pythonanywhere.com/">Contact</a>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/FullLogo.png') }}" alt="My Logo - A BM with a small 'Designs' text">
    </div>
</div>
<body>

  <h3 style="font-size: 80px">*This site is a work in progress!!</h3>

  <div class="button-container" style="flex-direction: row;">

    <div class="portrait-button">
      <a href="#laser">
          <img src="{{ url_for('static', filename='images/CrossHairWall.jpg') }}" alt="A photo from the laser tag arena, depicting a crosshair glowing red due to UV lighting">
          <div class="button-content">
              <h2>Laser Tag Lighting</h2>
          </div>
      </a>
    </div>
    <div class="portrait-button">
      <a href="#socialmedia">
          <img src="{{ url_for('static', filename='images/icons/buttons/GreenCrosshair.png') }}" alt="A photo from the laser tag arena, depicting a crosshair glowing green due to UV lighting">
          <div class="button-content" style="color: white;">
              <h2>Social Media Portfolio</h2>
          </div>
      </a>
    </div>
  </div>

  <br>
  <br>

  <!-- <div class="fancybutton" href="#laser">
    <img href="#laser" src="{{ url_for('static', filename='images/UVWall.jpg') }}" alt="A photo from the laser tag arena, depicting a wall glowing due to UV lighting"> -->

  <section id="laser" style="padding: 0px;">
    <div class="container" style="max-width: none; padding: 0px;">
      <div class="stickouttext" style="background-color:#a33e46; padding: 32px; border-radius: 32px 32px 0px 0px; display: inline-table; width: 70%;">
        <h2 style="color:rgb(255, 255, 255); font-weight: 700;">Laser Tag Improvements</h2>
        <p style="color:rgba(255, 255, 255, 0.76)">As part of my work at <a href="https://www.play2day.biz/">Play2Day</a>, I was tasked with improving the laser tag arena. During my time, I noticed that children would often get hurt, so I decided I wanted to increase the visibility inside the arena, but didn't want to harm the overall theme of the arena.  </p>
        <p style="color:rgba(255, 253, 253, 0.685);margin-bottom: 0px;">Below are some before and after photos of the arena.</p>
      </div>
      <div class="container" style="width: 100%; max-width: 100%; padding: 0px;">
        <div class="button-container" style="background-color: #942c35; padding: 64px 250px 64px 250px;">
          <div class="custom-image-slider" id="customImageSlider1" style="border-radius: 64px; margin-bottom: 82px;">
            <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeIcicle-1.jpg') }}" alt="Before">
            <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterIcicle-1.jpg') }}" alt="After" >
            <div class="slider-handle"></div>
          </div>

          <div class="custom-image-slider" id="customImageSlider2" style="border-radius: 64px; margin-bottom: 82px;">
            <img class="slider-before" src="{{ url_for('static', filename='images/before+after/AlienBefore.jpg') }}" alt="Before" >
            <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AlienAfter.jpg') }}" alt="After" >
            <div class="slider-handle"></div>
          </div>

          <div class="custom-image-slider" id="customImageSlider3" style=" border-radius: 64px; margin-bottom: 82px;">
            <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeCentre.jpg') }}" alt="Before" >
            <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterCentre.jpg') }}" alt="After" >
            <div class="slider-handle"></div>
          </div>

          <div class="custom-image-slider" id="customImageSlider4" style=" border-radius: 64px; margin-bottom: 82px;">
            <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeSmallCorner.jpg') }}" alt="Before" >
            <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterSmallCorner.jpg') }}" alt="After" >
            <div class="slider-handle"></div>
          </div>

          <div class="custom-image-slider" id="customImageSlider5" style=" border-radius: 64px; margin-bottom: 82px;">
            <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeCorner.jpg') }}" alt="Before" >
            <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterCorner.jpg') }}" alt="After">
            <div class="slider-handle"></div>
          </div>

          <div class="custom-image-slider" id="customImageSlider6" style=" border-radius: 64px; margin-bottom: 82px;">
            <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeGreenCorner.jpg') }}" alt="Before" >
            <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterGreenCorner.jpg') }}" alt="After" >
            <div class="slider-handle"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="socialmedia" style="padding: 0px; padding-top: 64px;">
      <div class="button-container" style="background-color: #8c7eff; padding: 16px;">
        <div class="alongsidetext">
          <h2 style="text-align: left; font-size: 40px; color: whitesmoke;">Social Media for Play2Day</h2>
          <p style="font-size: 16px; color: cornsilk;">As part of my work at Play2Day, I started managing their social media accounts, this included:</p>
          <ul style="font-size: 16px; color: cornsilk;">
            <li>Managing a content calendar</li>
            <li>Creating & Posting content</li>
            <li>Responding to comments & messages</li>
            <li>Setting up direct messaging on Google Maps</li>
            <li>Responding to reviews on Google Maps</li>
            <li>Adding photos of the center to their Google Maps page</li>
            <li>Improving the Instagram and fFacebook pages with story highlights</li>
            <li>Took professional photos of the centre to be used in posts</li>
          </ul>
        </div>

        <iframe src="https://onedrive.live.com/embed?resid=dc458cf5ccf237dd%2116143&authkey=!AGMimVMgAMdgpp8&em=2" width="80%" height="800px" frameborder="0" scrolling="no"></iframe>
      </div>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sliders = document.querySelectorAll(".custom-image-slider");
  
        sliders.forEach((slider) => {
          const afterImage = slider.querySelector(".slider-after");
          const handle = slider.querySelector(".slider-handle");
  
          // Set initial handle position and clipPath
          const initialPercentage = 50;
          handle.style.left = `${initialPercentage}%`;
          afterImage.style.clipPath = `inset(0 ${100 - initialPercentage}% 0 0)`;
  
          let dragging = false;
          let lastX = 0;
  
          // Add mouse event listeners
          handle.addEventListener("mousedown", (e) => {
            dragging = true;
            lastX = e.clientX;
            e.preventDefault();
          });
  
          document.addEventListener("mouseup", () => {
            dragging = false;
          });
  
          document.addEventListener("mouseleave", () => {
            dragging = false;
          });
  
          document.addEventListener("mousemove", (e) => {
            if (!dragging) return;
  
            const rect = slider.getBoundingClientRect();
            const x = e.clientX - rect.left;
            let widthPercentage = (x / rect.width) * 100;
  
            // Add constraint to keep the handle within 1% of either edge
            widthPercentage = Math.max(0, Math.min(widthPercentage, 100));
  
            // Update handle position using requestAnimationFrame
            window.requestAnimationFrame(() => {
              handle.style.left = `${widthPercentage}%`;
              afterImage.style.clipPath = `inset(0 ${100 - widthPercentage}% 0 0)`;
            });
  
            lastX = x;
          });
  
          // Add touch event listeners
          handle.addEventListener("touchstart", (e) => {
            dragging = true;
            lastX = e.touches[0].clientX;
            e.preventDefault();
          });
  
          document.addEventListener("touchend", () => {
            dragging = false;
          });
  
          slider.addEventListener("touchcancel", () => {
            dragging = false;
          });
  
          slider.addEventListener("touchmove", (e) => {
            if (!dragging) return;
  
            const rect = slider.getBoundingClientRect();
            const x = e.touches[0].clientX - rect.left;
            let widthPercentage = (x / rect.width) * 100;
  
            // Add constraint to keep the handle within 1% of either edge
            widthPercentage = Math.max(0, Math.min(widthPercentage, 100));
  
            // Update handle position using requestAnimationFrame
            window.requestAnimationFrame(() => {
              handle.style.left = `${widthPercentage}%`;
              afterImage.style.clipPath = `inset(0 ${100 - widthPercentage}% 0 0)`;
            });
  
            lastX = x;
          });
        });
      });
  </script>
</body>
</html>
