<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Projects / Portfolio</title>
    <meta property="og:image" content="{{ url_for('static', filename='images/WebPreview.png') }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627"/>
    <script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/static/images/SmallLogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Ben Mercer's Portfolio - Including Laser Tag Lighting System Upgrades And Social Media Account Page Improvement.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <section id="lighting">
        <div class="container">
            <div class="stickOutText">
                <h2>Laser Tag Lighting</h2>
            </div>
            <div class="imageRevealContainer">
                <div class="imageRevealBox sliderReveal" id="customImageSlider1">
                    <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeIcicle-1.jpg') }}" alt="Before">
                    <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterIcicle-1.jpg') }}" alt="After" >
                    <div class="slider-handle"></div>
                </div>

                <div class="imageRevealBox sliderReveal" id="customImageSlider2">
                    <img class="slider-before" src="{{ url_for('static', filename='images/before+after/AlienBefore.jpg') }}" alt="Before" >
                    <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AlienAfter.jpg') }}" alt="After" >
                    <div class="slider-handle"></div>
                </div>

                <div class="imageRevealBox sliderReveal" id="customImageSlider3">
                    <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeCentre.jpg') }}" alt="Before" >
                    <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterCentre.jpg') }}" alt="After" >
                    <div class="slider-handle"></div>
                </div>

                <div class="imageRevealBox sliderReveal" id="customImageSlider4">
                    <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeSmallCorner.jpg') }}" alt="Before" >
                    <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterSmallCorner.jpg') }}" alt="After" >
                    <div class="slider-handle"></div>
                </div>

                <div class="imageRevealBox sliderReveal" id="customImageSlider5">
                    <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeCorner.jpg') }}" alt="Before" >
                    <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterCorner.jpg') }}" alt="After">
                    <div class="slider-handle"></div>
                </div>

                <div class="imageRevealBox sliderReveal" id="customImageSlider6">
                    <img class="slider-before" src="{{ url_for('static', filename='images/before+after/BeforeGreenCorner.jpg') }}" alt="Before" >
                    <img class="slider-after" src="{{ url_for('static', filename='images/before+after/AfterGreenCorner.jpg') }}" alt="After" >
                    <div class="slider-handle"></div>
                </div>
            </div>
        </div>
        </section>
        <section id="laserguns">
            <div class="container">
                <div class="stickOutText">
                    <h2>Electronic and Technical Work</h2>
                </div>
                <div class="gunRepairsContainer">
                    <!-- <div class="alongSideText">
                        <p>
                            As part of my work at <a href="https://www.play2day.biz/">Play2Day</a>, I took on the challenge of repairing the faulty Laser-Tag guns, I had to teach myself how to repair through trial and error. I was commited to this as I wanted to make a proper change to Play2Day, as it meant alot to me personally.
                        </p>
                        <p>
                            The video here shows a timelapse of me repairing a laser gun, this involved switching the shell (Case) of the gun. This is the most complicated procedure, mainly because it requries everything to be un-hot-glued. This usually takes about an hour and requires patience and knowledge on what you're doing. Keep in mind I had to full teach myself how to do this!!
                        </p>
                    </div> -->
                <figure class="videoReveal">
                    <video autoplay muted playsinline loop>
                        <source src="{{ url_for('static', filename='videos/FixingCapacitor.mp4') }}" type="video/mp4">
                    </video>
                    <figcaption>Replacing a failed capacitor that operated the colour wheel stepper motor inside a moving head lighting fixture. </figcaption>
                </figure>

                <figure class="videoReveal">
                    <video autoplay muted playsinline loop>
                        <source src="{{ url_for('static', filename='videos/LightsRunning.mp4') }}" type="video/mp4">
                    </video>
                    <figcaption>I have liaised with Kesgrave High School, my old highschool, repairing their broken moving head fixtures for use in Play2Day, a children's play center.</figcaption>
                </figure>

                <figure class="videoReveal">
                    <video autoplay muted playsinline loop>
                        <source src="{{ url_for('static', filename='videos/Timelapse-Gun-Case-1.mp4') }}" type="video/mp4">
                    </video>
                    <figcaption>I have spent time repairing and maintaining the Laser Tag system used in the Laser Tag Arena inside Play2Day.</figcaption>
                </figure>
            </div>
        </section>
        <!--
        <section id="socialmedia" style="padding: 0px; padding-top: 64px;">
        <div class="button-container" style="background-color: #8c7eff; padding: 16px;">
            <div class="alongsidetext">
            <h2 style="text-align: left; font-size: 40px; color: whitesmoke;">Social Media for Play2Day</h2>
            <p style="font-size: 16px; color: cornsilk;">As part of my work at Play2Day, I started managing their social media accounts, this included:</p>
            <ul style="font-size: 16px; color: cornsilk;">
                <li>Managing a content calendar</li>
                <li>Creating & Posting content</li>
                <li>Responding to comments & messages</li>
                <li>Setting up direct messaging on Google Maps</li>
                <li>Responding to reviews on Google Maps</li>
                <li>Adding photos of the center to their Google Maps page</li>
                <li>Improving the Instagram and fFacebook pages with story highlights</li>
                <li>Took professional photos of the centre to be used in posts</li>
            </ul>
            </div>    
    </section>
    -->


    <section id="socialmedia">
        <div class="container">
            <div class="stickOutText">
                <h2>Social Media for Play2Day</h2>
            </div>
            <div class="socialMediaContainer">
                <div class="imageRevealContainer">
                    <div class="imageRevealBox">
                        <img src="{{ url_for('static', filename='images/placeholderPortrait.png') }}">
                    </div>
                    <div class="imageRevealBox">
                        <img src="{{ url_for('static', filename='images/placeholderPortrait.png') }}">
                    </div>
                    <div class="imageRevealBox">
                        <img src="{{ url_for('static', filename='images/placeholderPortrait.png') }}">
                    </div>
                </div>

                <!-- <div class="alongSideText">
                    <ul style="font-size: 16px;">
                    <li>Managing a content calendar</li>
                    <li>Creating & Posting content</li>
                    <li>Responding to comments & messages</li>
                    <li>Setting up direct messaging on Google Maps</li>
                    <li>Responding to reviews on Google Maps</li>
                    <li>Adding photos of the center to their Google Maps page</li>
                    <li>Improving the Instagram and Facebook pages with story highlights</li>
                    <li>Took professional photos of the centre to be used in posts</li>
                    </ul>
                </div> -->

                <a style="text-wrap: wrap; max-width: 30%; font-size: 1.4rem;"href="https://1drv.ms/w/s!At038sz1jEXc_g8lG4iPzsXT7L18?e=cRWdVX"><h3 style="text-decoration:underline; color:rgb(0, 153, 255); text-align: center;">Click Me to View My Social Media Portfolio</h3></a>
            </div>  
        </div>
    </section>
    <footer class="footer" id="footer">
        <div class="content" style="z-index: 9999; margin-left:0;">
            <h1>Benjamin Mercer</h1>
            <h2>Email: <a style="overflow:hidden;" href="mailto:benmercer76@btinternet.com">benmercer76@btinternet.com</a></h2>
            <!-- <button id="fetchFaultButton" href="https://benmercer.pythonanywhere.com/getfaultdata">Refresh</button>
            <button id="fetchLctButton" href="https://benmercer.pythonanywhere.com/getlctdata">Refresh</button>
            <label for="styleSwitch">Switch Styles:</label>
            <label class="switch">
                <input type="checkbox" id="styleSwitch">
                <span class="slider round"></span>
            </label> -->
        </div>
        <canvas id="turbineCanvas" style="z-index: 2; left:0;"></canvas>  
    </footer>
    </div>
</body>

<script src="{{ url_for('static', filename='/Scripts/turbines.js') }}"></script>
<script src="{{ url_for('static', filename='/Scripts/imagesliders.js') }}"></script>
</body>
</html>


<script>

    document.addEventListener("DOMContentLoaded", function() {
        const revealElements = document.querySelectorAll('.imageRevealBox');
        revealElements.forEach((element, index) => {
            setTimeout(() => {
                element.classList.add('reveal');
            }, index * 500);
        });
    });

    function isElementInViewport(el) {
        const rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    function handleScroll() {
        const revealElements = document.querySelectorAll('.imageRevealBox, .videoReveal');
        revealElements.forEach((element, index) => {
            if (isElementInViewport(element) && !element.classList.contains('reveal')) {
                setTimeout(() => {
                    element.classList.add('reveal');
                }, index * 500);
            }
        });
    }

    document.addEventListener('scroll', handleScroll);
    document.addEventListener('DOMContentLoaded', handleScroll);

</script>